@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes rspin {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

.system {
    background-color: #f2f2f2;
    width: 400px;
    height: 400px;
}

.frame {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.planet {
    width: 30px;
    height: 30px;
    position: relative;
    top: 100px;
    left: 30px;
    border-radius: 20px;
    background-color: black;

    animation-name: rspin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
